# Build Output
dist/
node_modules/

# TypeScript Build Info & Caches
*.tsbuildinfo
tsconfig*.tsbuildinfo
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo

# Environment Files
.env
.env.dev
.env.prod
.env.*

# Logs & System
*.log
.DS_Store

# Wallet Data & Temp Files
data/wallets.js
mywallets.txt
mywallets2.txt
mywallets*.txt
